
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: OCR A Std, monospace;
    background-color: #71F79F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 1000px;
    background-color: #3DD6D0;
    padding: 5%;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, main, footer {
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
    padding: 20px;
    background-color: #3DD6D0;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.sections-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.section {
    width: 48%;
    padding: 20px;
    background-color: #CAF0F8;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.section h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
}

#pomodoro, #todo-list {
    background-color: #e0f7fa; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#pomodoro {
    width: 45%;
}

#todo-list {
    width: 45%;
}

.sections-container {
    display: flex;
    justify-content: space-between;
}

/* Subsection title styling */
#pomodoro h2, #todo-list h2 {
    font-size: 1.5em;
    color: #000;
    text-align: center;
    margin-top: 0;
    font-weight: bold;
    letter-spacing: 1px;
}

/* Pomodoro buttons */
#pomodoro button {
    background-color: #319335;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 5px;
    transition: background-color 0.3s ease;
}

#pomodoro button:hover {
    background-color: #267029;
}

/* Timer display */
#timer {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    margin: 10px 0;
}

/* To-do list styling */
#todo-list input[type="text"] {
    width: calc(100% - 40px);
    padding: 10px;
    border: 2px solid #B0C4DE;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#todo-list button {
    background-color: #319335;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

#todo-list button:hover {
    background-color: #267029;
}

#tasks {
    list-style: none;
    padding: 0;
}

#tasks li {
    background-color: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

#tasks li input[type="checkbox"] {
    margin-right: 10px;
}
